/* Common styles */
.box {
  position: absolute;
  background: white;
  padding: 1em;
  border: 1px grey solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.box:empty {
  display: none;
}
.box h3 {
  margin: 0 0 0.2em;
  padding-right: 1em;
}
.box .content {
  overflow-y: auto;
}
.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.box li {
  display: flex;
}
.box .cross {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  font-size: 1.4em;
  line-height: 1em;
  cursor: pointer;
}
.box .cross:hover {
  opacity: 0.7;
}
.circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  vertical-align: middle;
}
.hidden {
  display: none !important;
}

/* Controls */
#controls {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
}
#controls fieldset {
  border: 0;
  padding: 0;
  position: relative;
  margin: 0 0 0.2em;
}
#controls input[type="search"] {
  height: 2.8em;
  line-height: 2.8em;
  outline: none;
  border: 1px grey solid;
  border-radius: 4px;
  padding: 0 1em;
}
#controls datalist {
  position: absolute;
  display: block;
  top: 100%;
  width: 100%;
  background: white;
  border: lightgray 1px solid;
}
#controls:not(:focus-within) datalist,
#controls datalist:empty {
  display: none;
}
#controls datalist option {
  padding: 0.1em;
}
#controls datalist option:hover:not(:disabled),
#controls datalist option.active {
  background: lightblue;
  cursor: pointer;
}
#controls button {
  display: block;
  font-size: 1.5em;
  color: white;
  background: black;
  outline: none;
  border: 0;
  padding: 0;
  margin-top: 0.2em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 4px;
}
#controls button:hover {
  background: grey;
  cursor: pointer;
}
#controls button[data-action="caption"] {
  margin-top: auto;
}

/* Node data */
#node-detail {
  bottom: 1em;
  right: 1em;
  max-height: calc(100vh - 4em);
}
#node-detail .key {
  flex-grow: 1;
}
#node-detail .value {
  color: grey;
  margin-left: 1em;
}
#node-detail .key,
#node-detail .value {
  max-width: 12em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#node-detail a {
  color: DarkSlateGray;
}
#node-detail a:focus,
#node-detail a:active,
#node-detail a:hover {
  color: SlateGray;
}

/* Captions */
#caption {
  bottom: 1em;
  left: 1em;
  max-height: 50vh;
}
#caption input:not(:checked) + label {
  color: #bbb;
}
#caption input:not(:checked) + label .circle {
  background: #bbb !important;
}
#caption .focus {
  visibility: hidden;
  color: grey;
  text-decoration: none;
}
#caption li:hover .focus,
#caption li:focus-within .focus {
  visibility: visible;
}
